.clickable {
    cursor: pointer;
}

.poster {
    width: 160px;
    margin: 20px -10px 10px -10px;
}

.caption {
    height: 100px;
}

.smallposter {
    width: 80px;
}

.container {
    width: unset;
}

.panel {
    /* background-color: gainsboro; */
    border: none;
}

.pagination {
    margin-top: -10px;
}