/* .clickable {
    cursor: pointer;
}

.thumbnail {
    background-color: whitesmoke;
    border-radius: 1px;
    width: 150px;
    height: 300px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px;
}

.thumbnail span.title {
    font-size: 80%;
    font-weight: bold;
}

.thumbnail span.text {
    font-size: 65%;
}

.crop {
    float: left;
    margin-left: -4px;
    margin-top: -4px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    width: 150px;
    height: 210px;
}

.crop img {
    position: absolute;
    top: 0px;
    left: -30px;
}

.smallposter {
    width: 80px;
}

.panel {
    background-color: gainsboro;
    border: none;
}

.pagination {
    margin-top: 5px;
    margin-bottom: -15px
}

.buttonrow {
    margin-top: 20px;
    margin-bottom: 0px;
}

.postercontainer {
    max-width: 90px;
    float: left;
}

.poster {
    height: 120px;
    width: 90px;
}

.postertext {
    float: left;
    margin: 5px;
} */

.container {
    width: unset;
}

.navbar {
    margin-bottom: 0px;
}

.mymedia {
    border: none;
    height: 130px;
}

.mymedia:hover {
    background-color: white;
}

[class*="col-"] {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
}