<!--div class="thumbnail">
    <div class="crop">
        <img class="poster" src="{{ this._vdrService.getRecordImageUrl(myrecord) }}" alt="kein Bild">
    </div>
    <div class="caption">
        <p>
            <a role="button" *ngIf="!myrecord.is_pes_recording" [href]="this._vdrService.streamRecordUrl(myrecord)"><span class="fa fa-caret-square-o-right fa-lg"></span></a>
            <a role="button" (click)="this._vdrService.playRecordonTV(myrecord)"><span class="fa fa-play-circle-o fa-lg"></span></a>
            <a role="button" (click)="this._vdrService.playRecordonTVCont(myrecord)"><span class="fa fa-play-circle fa-lg"></span></a>
            <a role="button" (click)="this._vdrService.pressKey('Stop')"><span class="fa fa-stop-circle-o fa-lg"></span></a>
        </p>
        <span class="title">{{ myrecord.event_title }}</span><br>
        <span class="text">{{ toDate(myrecord.event_start_time) | date:'d.M.yyyy' }}, {{ myrecord.event_duration / 60 | number : '1.0-0' }}'</span>
    </div>
</div-->

<div class="record" (click)="showdialog(myrecord); ">
    <div class="postercontainer ">
        <img class="poster" (error)="myerror($event)" src="{{ this._vdrService.getRecordImageUrl(myrecord) }} " alt="kein Bild ">
    </div>
    <div class="postertext ">
        <h5 id="titeltext ">{{ myrecord.event_title }}</h5>
        <p id="date_and_length ">
            {{ toDate(myrecord.event_start_time) | date:'d.M.yyyy' }}, {{ myrecord.event_duration / 60 | number : '1.0-0' }}'
        </p>
        <p>
            {{ ellipse(myrecord.event_description, 70) }}
        </p>
    </div>
    <!--p class="icons ">
        <a role="button " *ngIf="!myrecord.is_pes_recording " [href]="this._vdrService.streamRecordUrl(myrecord) "><span class="fa fa-caret-square-o-right fa-lg "></span></a>
        <a role="button " (click)="this._vdrService.playRecordonTV(myrecord) "><span class="fa fa-play-circle-o fa-lg "></span></a>
        <a role="button " (click)="this._vdrService.playRecordonTVCont(myrecord) "><span class="fa fa-play-circle fa-lg "></span></a>
        <a role="button " (click)="this._vdrService.pressKey( 'Stop') "><span class="fa fa-stop-circle-o fa-lg "></span></a>
    </p-->
</div>