<!--h1>Aufnahmen</h1-->
<div class="row">
    <div class="col-md-6">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" id="search" placeholder="Suchen ..." class="form-control" (change)="reloadAufnahmenFilter(u.value)" #u>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="reloadAufnahmenFilter(u.value)">Go!</button>
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <select class="form-control" (change)="reloadAufnahmenCategory(c.value)" (click)="loadCategories()" #c>
                    <option value="">Kategorie wählen ...</option>
                    <option *ngFor="let cat of categories" value="{{ cat }}">
                        {{ cat }}
                    </option>
                </select>
            </div>
        </div>
        <spinner [visible]="aufnahmenLoading"></spinner>
        <div>
            <pagination [items]="aufnahmen" (page-changed)="onPageChanged($event)"></pagination>
            <ul class="media-list aufnahmen">
                <li *ngFor="let aufnahme of pagedAufnahmen" class="media" [class.active]="currentAufnahme == aufnahme" (click)="select(aufnahme)">
                    <recording [myrecord]=aufnahme></recording>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div *ngIf="currentAufnahme" class="panel panel-default" border-style="none">
            <!-- div class="panel-heading">
                <h3 class="panel-title">{{ currentAufnahme.event_title }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ currentAufnahme.event_description }}</p>
                <hr/-->
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object poster" src="{{ currentAufnahme.imageurl }}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ currentAufnahme.event_title }}</h3>
                    {{ currentAufnahme.event_description }}
                </div>
            </div>
            <br>
            <a class="btn btn-info" role="button" [href]="currentAufnahme.streamurl">IOS Stream</a>
            <a class="btn btn-info" role="button" [href]="currentAufnahme.openvlc">Open VLC</a>
            <a class="btn btn-info" role="button" [href]="currentAufnahme.startonTv">Start</a>
            <hr>
            <pre>
                    {{ currentAufnahme | json }}
            </pre>
        </div>
    </div>
</div>