<!--h1>Aufnahmen</h1-->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <input type="text" id="search" placeholder="Suchen ..." class="form-control" (change)="reloadAufnahmenFilter(u.value)" #u>
            </div>
            <div class="col-md-4">
                <select class="form-control" (change)="reloadAufnahmenCategory(c.value)" (click)="loadCategories()" #c>
                    <option value="">Kategorie wählen ...</option>
                    <option *ngFor="let cat of categories" value="{{ cat }}">
                        {{ cat }}
                    </option>
                </select>
            </div>
            <div class="col-md-4">
                <pagination [items]="aufnahmen " [page-size]="pageSize" (page-changed)="onPageChanged($event) "></pagination>
            </div>
        </div>
    </div>
</div>
<spinner [visible]="aufnahmenLoading "></spinner>
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mymedia" *ngFor="let aufnahme of pagedAufnahmen" [class.highlighted]="currentAufnahme==aufnahme " (click)="select(aufnahme)">
        <recording [myrecord]=aufnahme></recording>
    </div>
</div>
<!--<div class="col-md-6 ">
        <div *ngIf="currentAufnahme " class="panel panel-default " border-style="none ">
            <div class="media ">
                <div class="media-left media-top ">
                    <a href="# ">
                        <img class="media-object poster " src="{{ getImageUrl(currentAufnahme) }} " alt="... ">
                    </a>
                </div>
                <div class="media-body ">
                    <h3 class="media-heading ">{{ currentAufnahme.event_title }}</h3>
                    {{ currentAufnahme.event_description }}
                </div>
            </div>
            <br>
            <a class="btn btn-primary " role="button " [href]="streamtourl(currentAufnahme) ">Stream</a>
            <button type=" button " class="btn btn-primary " (click)="playonTV(currentAufnahme) ">Start on TV</button >
            <hr>
            <pre>
                    {{ currentAufnahme | json }}
            </pre>
        </div>
    </div>
</div-->